.mapContentsLayout{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    @media (min-width: 864px) {
        flex-wrap: nowrap;
    }
}